Como por el momento únicamente analizaremos las cuentas de los locales filtramos para quedarnos solamente con esos datos

# Librerias

In [1]:
import pandas as pd

# Abrimos archivos

In [2]:
# Cargar el archivo CSV
df_comentarios_final  = pd.read_csv('../01_data/total_comentarios.csv', delimiter=",", header=0)

In [3]:
df_comentarios_final

,fecha,nota_total,grupo_de,calidad_del_espectáculo,puesta_en_escena,interpretación_artística,nombre_show,nombre_local
0,2023-10-10,10.0,Pareja,10.0,10.0,10.0,Los Monologos De El Golfo Comedy Club En Madrid,El Golfo Comedy Club
1,2023-08-17,10.0,Amigos,10.0,10.0,10.0,Los Monologos De El Golfo Comedy Club En Madrid,El Golfo Comedy Club
2,2023-10-13,10.0,Pareja,10.0,10.0,10.0,Los Monologos De El Golfo Comedy Club En Madrid,El Golfo Comedy Club
3,2023-08-17,9.1,Pareja,10.0,10.0,7.5,Los Monologos De El Golfo Comedy Club En Madrid,El Golfo Comedy Club
4,2023-10-09,10.0,Amigos,10.0,10.0,10.0,Los Monologos De El Golfo Comedy Club En Madrid,El Golfo Comedy Club
...,...,...,...,...,...,...,...,...
175745,2021-05-12,10.0,Pareja,10.0,10.0,10.0,Vaquero,Beer Station - Sala 1
175746,2023-05-22,10.0,Pareja,10.0,10.0,10.0,Pringer: a los que das a la izquierda,Beer Station - Sala 1
175747,2023-10-02,10.0,Pareja,10.0,10.0,10.0,Quique Matilla - Vastante vien,Beer Station - Sala 1
175748,2023-05-28,10.0,Pareja,10.0,10.0,10.0,Quique Matilla - Vastante vien,Beer Station - Sala 1
175749,2023-07-13,10.0,Pareja,10.0,10.0,10.0,Quique Matilla - Vastante vien,Beer Station - Sala 1

In [10]:
df_cuentas_locales = pd.read_csv("../01_data/cuentas_locales.csv", delimiter=",", header=0)
df_cuentas_locales

,nombre_show,tipo_show,precio,duracion,local,nota_atrapalo,numero_opiniones
0,Los Monólogos de El Golfo Comedy Club en Madrid,cuenta_local,5.0,95.0,El Golfo Comedy Club,8.9,1656.0
1,Noches de Comedia - Monólogos en Madrid,cuenta_local,6.0,75.0,El Sombrerero Comedy Club,9.5,901.0
2,Los Monólogos del Teatro de las Aguas,cuenta_local,5.0,60.0,Teatro de las Aguas,9.5,885.0
3,"Comedy Nights, monólogos en Beer Station",cuenta_local,8.0,80.0,Beer Station,9.0,778.0
4,Los Monólogos de Estupenda Café Bar,cuenta_local,2.4,80.0,Estupenda Bar,9.0,214.0
5,Monólogos de humor - Chocita del Loro Gran vía,cuenta_local,15.0,90.0,Teatro Chocita del Loro - Gran Vía,8.8,14386.0
6,Los Monólogos de Clandestino Café-Teatro Gran vía,cuenta_local,8.0,60.0,Clandestino Café Teatro,8.4,71.0
7,Estación Comedy,cuenta_local,2.5,60.0,Estación Malasaña,8.6,137.0
8,Monólogos en San Sebastián de los Reyes,cuenta_local,6.5,75.0,La Nota Rock,NaN,NaN

In [11]:
import difflib

# Crear una lista para almacenar los nombres y sus coincidencias aproximadas
coincidencias = []

# Iterar sobre los nombres en df_cuentas_locales
for nombre_cuentas_locales in df_cuentas_locales['nombre_show']:
    # Encontrar la mejor coincidencia aproximada en df_comentarios_final
    coincidencia_aproximada = difflib.get_close_matches(nombre_cuentas_locales, df_comentarios_final['nombre_show'], n=1)
    
    # Si se encontró una coincidencia, añadirla a la lista
    if coincidencia_aproximada:
        coincidencias.append((nombre_cuentas_locales, coincidencia_aproximada[0]))

# Crear un DataFrame con las coincidencias
df_coincidencias = pd.DataFrame(coincidencias, columns=['Nombre en Cuentas Locales', 'Nombre en Comentarios Finales'])

# Mostrar el DataFrame
df_coincidencias

,Nombre en Cuentas Locales,Nombre en Comentarios Finales
0,Los Monólogos de El Golfo Comedy Club en Madrid,los monologos de el golfo comedy club en madrid
1,Noches de Comedia - Monólogos en Madrid,noches de comedia monologos en madrid
2,Los Monólogos del Teatro de las Aguas,los monologos del teatro de las aguas
3,"Comedy Nights, monólogos en Beer Station","comedy nights, monólogos en beer station"
4,Los Monólogos de Estupenda Café Bar,los monologos de estupenda cafe bar
5,Los Monólogos de Clandestino Café-Teatro Gran vía,los monologos de clandestino comedia en gran via
6,Estación Comedy,estacion comedy
7,Monólogos en San Sebastián de los Reyes,monologos en san sebastian de los reyes

In [13]:
# Filtrar las filas de df_comentarios_final donde el nombre_show coincide con las coincidencias
df_comentarios_cuentas_locales = df_comentarios_final[df_comentarios_final['nombre_show'].isin(df_coincidencias['Nombre en Comentarios Finales'])]

# Reiniciar los índices si es necesario
df_comentarios_cuentas_locales.reset_index(drop=True, inplace=True)

# Mostrar el DataFrame
df_comentarios_cuentas_locales

,fecha,nota_total,grupo_de,calidad_del_espectáculo,puesta_en_escena,interpretación_artística,nombre_show,nombre_local
0,2023-10-10,10.0,Pareja,10.0,10.0,10.0,los monologos de el golfo comedy club en madrid,El Golfo Comedy Club
1,2023-08-17,10.0,Amigos,10.0,10.0,10.0,los monologos de el golfo comedy club en madrid,El Golfo Comedy Club
2,2023-10-13,10.0,Pareja,10.0,10.0,10.0,los monologos de el golfo comedy club en madrid,El Golfo Comedy Club
3,2023-08-17,9.1,Pareja,10.0,10.0,7.5,los monologos de el golfo comedy club en madrid,El Golfo Comedy Club
4,2023-10-09,10.0,Amigos,10.0,10.0,10.0,los monologos de el golfo comedy club en madrid,El Golfo Comedy Club
...,...,...,...,...,...,...,...,...
5475,2020-02-16,0.8,Pareja,2.5,0.0,0.0,"comedy nights, monólogos en beer station",Beer Station - Sala 1
5476,2020-02-16,2.5,Pareja,2.5,2.5,2.5,"comedy nights, monólogos en beer station",Beer Station - Sala 1
5477,2019-05-15,5.0,Pareja,5.0,5.0,5.0,"comedy nights, monólogos en beer station",Beer Station - Sala 1
5478,2019-05-15,7.5,Amigos,7.5,7.5,7.5,"comedy nights, monólogos en beer station",Beer Station - Sala 1
5479,2018-12-04,8.3,Pareja,7.5,7.5,10.0,"comedy nights, monólogos en beer station",Beer Station - Sala 1

In [15]:
# Guardo el DataFrame en un archivo CSV
df_comentarios_cuentas_locales.to_csv('../01_data/comentarios_cuentas_locales.csv', index=False)